<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1 style="background-color: rgb(109, 183, 212);" style="color:rgb(219, 219, 219);">Game Mission Tracker!</h1>
</head>
<body style="background-color: rgb(79, 117, 175);">
    <a style="background-color: rgb(221, 223, 105);" href="{{ url_for('add') }}">Add game</a> || <a style="background-color: rgb(221, 223, 105);" href="{{ url_for('read') }}">Select your Game</a>
{% block body %} 
{% endblock %}  
</html>