{% extends "dropdown_games.html" %}
{% block body %}
<head>
    <link rel="stylesheet" href="Site.css">
</head>
<h2> Missions to do! </h2>
<body>
    <h4 style="text-align: center;">Title: {{ title }}</h4>
    <hr>
    <br>
    <div class="staticText">
        <h4>{{ field }}</h4>
        <h4>{{ field }}</h4>
        <h4>{{ field }}</h4>
        <h4>{{ field }}</h4>
        <h4>{{ field }}</h4>
        <h4>{{ field }}</h4>
    </div>
    <hr>
    <br>
    <div class="form">
        <form action="URL">
            <label for="checkbox1">Complete?</label>
            <input type="checkbox" id="checkbox1" name="checkbox1" value="Complete">
            <br>
            <label for="mission">Instructions</label>
            <input type="text" id="text1" name="mission" class="form-control">
            <br>
            <label for="date1">Date Added: {{date}}</label>
            <br>
            <div class="row" style="margin-top: 15px;">
                <button type="submit" formaction="/action_page2.php">Add New</button>
                <button type="submit" formaction="/action_page2.php">Update</button>
                <button type="submit" formaction="URL">Delete</button>
                <button type="submit" formaction="URL">Submit</button>
        </form>
    </div>
    </div>
</body>
{% endblock body %}
