{% extends "layout.html" %}
{% block body %}
<head>
    <link rel="stylesheet" href="Site.css">
</head>
<h2> Missions to do! </h2>
<body>
    <hr>
    <h4 style="text-align: center;">Title: {{ games.title }}</h4>
    </hr>
    <br>
    <div class="staticText">
        <hr>
            <h4> Age ratings ||| {{ games.rating }}</h4>
            
        </hr><hr>
            <h4> Genre ||| {{ games.genre }}</h4>
            
        </hr><hr>
            <h4> Developers ||| {{ games.devs }}</h4>
            
        </hr>
    </div>
<hr>
<br>
    <div>
        {% for mission in missions %}
        <p>{{ mission.mission_text }} ||| {{ mission.date }} </p><br>
        

        {% if mission.checklist == True %}
        &#9989
        <form action='{{ url_for("incomplete", id=mission.game_id) }}'>
        <input type=submit value="Incomplete">
        </form>
    {% else %}
        <form action='{{ url_for("complete", id=mission.game_id) }}'>
        <input type=submit value="Complete">
        </form>
    {% endif %}
        <a href='{{ url_for("update_mission", id=mission.mission_id, game_id=mission.game_id) }}'>Update mission</a><br>
        <a href='{{ url_for("mission_delete", id=mission.mission_id, game_id=mission.game_id) }}'>Delete mission</a><br>
        {% endfor %}
    </div><br>
    <hr>
        <a href='{{ url_for("add_text", id=games.id) }}'>Add mission text here!</a>

    <form action='' method='POST'>
        {{ form.hidden_tag() }}
        {{ form.mission_text.label }} {{ form.mission_text }}<br>
        {{ form.submit }}<br>
    </form>
    <hr>
</div>
</body>
{% endblock body %}
<label for="date1">Date Added: {{date}}</label>