{% extends "layout.html" %}
{% block body %}
<h2 style="background-color: rgb(112, 206, 170);" style="color:rgb(219, 219, 219);">Update your game!</h2>
<div class='form'>
    <form action = '' method='POST'>
        <fieldset style="background: rgb(90, 165, 179);">
        {{ form.hidden_tag() }}
        {{ form.title.label }}  {{ form.title }}
        <br><br>
        {{ form.genre.label }} {{ form.genre }}
        <br><br>
        {{ form.rating.label }} {{ form.rating }}
        <br><br>
        {{ form.devs.label }} {{ form.devs }}
        <br><br>
        {{ form.submit }}
        </fieldset>
    </form>
</div>

{% endblock body %}