[UNIT]
Description=Game Service

[Service]
User=jenkins
WorkingDirectory=/opt/flask-app
EnvironmentFile=/opt/flask-app/flask.env
ExecStart=/bin/sh -c 'cd /opt/flask-app/ && python3 app.py' && gunicorn --workers=4 --bind=0.0.0.0:5000 app:app

[Install]
WantedBy=multi-user.target